.container {
    display: flex;

    cursor: pointer;
}

.container:hover {
    transition: background-color .3s;
}

.container a {
    display: flex;
    align-items: center;
    padding: 0 20px;
    white-space: nowrap;
}