& {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(225deg, #3e5673, #1b2530 86%, #1a242e 0);
  color: hsla(0, 0%, 100%, .8);
  height: 500px;
}

.title {
  font-size: 30px;
}

a {
  color: #cccccc;
  &:hover {
    color: white;
  }
}