.bannerImage {
    height: 500px;
    background: url(http://www.005.tv/uploads/allimg/161124/15415032M-7.jpg) center;
}

.articleContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px 100px;
}